/* payment-result.css */

body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
}

.card {
    border: none;
    border-radius: 10px;
}

.card-header {
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .card-header h3 {
        font-weight: 600;
    }

    .card-header .fa-check-circle {
        font-size: 24px;
        margin-right: 10px;
    }

.card-body {
    padding: 30px;
}

    .card-body h4 {
        font-weight: 600;
        color: #28a745; /* Màu xanh lá */
    }

    .card-body dl.row dt {
        font-weight: 500;
        color: #6c757d; /* Màu xám */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .card-body dl.row dd {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

.card-footer {
    background-color: #f8f9fa;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .card-footer .fa-lock {
        margin-right: 5px;
    }

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

    .btn-primary:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
